<!--responsive menu-->
<div id="res_menu">
    <div id="res_menu_label" onclick="slidemenu()">
        <div id="line"></div><div id="line"></div><div id="line"></div>
    </div>
</div>

<!---Normal Menu-->
<div id="menu2"></div>
<div id="menu">
    <a href="#"> <img class="logo" src="img/logo.gif"> </a>
    <div id="menu_tabs">
        <a><p class="menu"> HOME </p></a>
        <a><p class="menu"> ABOUT </p></a>
        <a ><p class="menu"> TAB1 </p></a>
        <a ><p class="menu"> TAB2 </p></a>
    </div>
</div>

<!---header section-->
<div id="header">
    <div id="coverText">
        <h1 class="header_head"> Abye Bank Yield Evaluator </h1>
        <h2 class="header_head"> With us, the best banking service in the town is just a few clicks away. </h2>
        <a onclick="navigate()"><h2 class="get_started"> Get Started </h2></a>
    </div>
</div>

<div id="content">

    <div id="main_block">

        <h1 class="header1"> Which service are you interested in ? </h1>
        <h2 class="header2"> We will guide you through some basic steps and find the best bank at your service </h2>

        <br><br><br> 
        <div id = "position"> <span style="font-weight:bold;color:grey"> You are at : </span>
            <a class="position" onclick="show_services()" id="pos_services"> Services </a>
            <a class="position" onclick="show_loans()" id="pos_loan" >  Loans </a>
            <a class="position" onclick="show_deposits()" id="pos_deposit" >  Deposits </a>
        </div>

        <bankservices></bankservices>

        <loans></loans>

        <deposits></deposits>

        <banks> </banks>

    <!---footer section-->
    <div id="footer" style="margin-top:0px">
        <div id="footer_icons">
            <a target="_blank" href=""><img class="footer_icons" src="img/fb.gif"></a>
            <a target="_blank" href=""><img class="footer_icons" src="img/twitter.gif"></a>
            <a target="_blank" href=""><img class="footer_icons" src="img/insta.gif"></a>
        </div>
        <text class="footer"> &#169; Abye Bank Yield Evaluator  </text>
        <text class="footer"> All rights reserved </text>
        <text class="footer"> Further details: abye@gmail.com </text>
    </div>

    </div>

</div>
