<div id="deposits">
    <div class="services_items">
        <img class="services" src="img/savings_account_icon.gif">
        <h2 class="services">  SAVINGS ACCOUNT </h2>
    </div>

    <div class="services_items">
        <img class="services" src="img/fixed_account_icon.gif">
        <h2 class="services"> FIXED ACCOUNT </h2>
    </div>

    <div class="services_items">
        <img class="services" src="img/special_account_icon.gif">
        <h2 class="services"> SPECIAL ACCOUNT </h2>
    </div>
</div>