<div id="loans">
    <div class="services_items" (click)="getHomeLoans()" onclick="show_banks()">
        <img class="services" src="img/home_loan_icon.gif">
        <h2 class="services"> HOME LOAN </h2>
    </div>

    <div class="services_items"  (click)="getStudentLoans()" onclick="show_banks()">
        <img class="services" src="img/student_loan_icon.gif">
        <h2 class="services"> STUDENT LOAN </h2>
    </div>

    <div class="services_items"  (click)="getCarLoans()" onclick="show_banks()">
        <img class="services" src="img/car_loan_icon.gif">
        <h2 class="services"> CAR LOAN </h2>
    </div>
</div>

<loan_banks [banks]='banks'> Loading ..... </loan_banks>