<div id="banks">
    <h1 class="header1"> Banks </h1>
    <h2 class="header2"> Check the bank to compare </h2>
  
    <div class="bank" *ngFor="#bank of banks | obj2arr">
        <div class="checkbox_holder">
            <div class="checkboxFive">
                <input type="checkbox" value="1" id="checkboxFiveInput" name="bank" />
                <label for="checkboxFiveInput"></label>
            </div>
        </div>

        <div class="bank_info" >
            <p class="bank_name"> {{ bank.value["title"] }} </p>
            <p class="bank_service"> Interest rate : {{ bank.value["interest"] }} </p>
        </div>
    </div>

</div>